.select-container {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

html, body{
  overflow: hidden;
  height: 100%;
}

.select-container > input {
    width: 80%;
}