.select-container {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 8%;
}

.title-container {
    width: 100%;
    text-align: center;
}

.footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.modal-body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer > button {
    text-align: center;
}

.help-tips {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background-color: #AAAAAA;
    color: white;
    text-align: center;
    position: absolute;
    right: 8%;
    top: 20px;
}

html, body{
  overflow: hidden;
  height: 100%;
}

#container {
    height: 70%;
    margin-bottom: 10%
}

.select-container > input {
    flex-grow: 1;
    margin-right: 20px;
}

.toast-container {
    position: fixed;
    z-index: 9999;
    bottom: 50%;
    width: 100%;
    -webkit-transition: opacity .8s;
    transition: opacity .8s;
    opacity: 0
}

.toast-container.toast-active {
    opacity: 1
}

.toast-message-container {
    font-size: 18px;
    width: 170px;
    margin: 5px auto;
    padding: 5px;
    text-align: center;
    color: #333;
    border-radius: 7px;
    background-color: #d8d8d8
}